<!-- <ion-content id=outer>
  <div class="warning">
    <div class="logo">
      <img src="assets/imgs/icon.png">
    </div>
    <form [formGroup]="loginForm">
      <div class="temp">
      
        <ion-item style="background-color: transparent; padding-left: 0px;" class="logitem">
        
          <ion-input formControlName="username" type="text" placeholder="{{'Email/Mobile/User Id*' | translate}}"
            class="text-input">
          </ion-input>
        </ion-item>
      </div>
      <ion-item class="logitem1"
        *ngIf="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)">
        <p style="padding-left: 8px;">{{'username required!' | translate}}</p>
      </ion-item>
      <div class="temp">
  
        <ion-item style="background-color: transparent; padding-left: 0px;" class="logitem">
         
          <ion-input formControlName="password" *ngIf="!showPassword" type="password"
            placeholder="{{'Password*' | translate}}" class="text-input"></ion-input>
          <ion-input formControlName="password" *ngIf="showPassword" type="text"
            placeholder="{{'Password*' | translate}}" class="text-input"></ion-input>

          <button ion-button clear item-end (click)="toggleShowPassword()">
            <ion-icon style="font-size: 1.6em;" *ngIf="showPassword" name="eye" color="light"></ion-icon>
            <ion-icon style="font-size: 1.6em;" *ngIf="!showPassword" name="eye-off" color="light"></ion-icon>
          </button>
        </ion-item>
      </div>
      <ion-item class="logitem1"
        *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)">
        <p style="padding-left: 8px;">{{'Password required!' | translate}}</p>
      </ion-item>
    </form>
    <div class="btnDiv">
      <button ion-button class="btnLog" color="gpsc" (tap)="userlogin()">{{'SIGN IN' | translate}}</button>
      <ion-row>
        <ion-col width-50 ion-text color="light" style="font-size: 1.1em;" (tap)="forgotPassFunc()">
          {{'Forgot Password' | translate}} ?</ion-col>
        <ion-col width-50 ion-text color="light" style="font-size: 1.1em;">{{'New user?' | translate}}&nbsp;&nbsp;
          <span style="color:#d80622;" (tap)="gotosignuppage()">{{'SIGN UP' | translate}}</span>
        </ion-col>
      </ion-row>
    </div>
   
    <ion-row style="margin-top: 50%;">
      <ion-col col-12 style="text-align: center;">
        <p style="margin: 0px; color: #fff; font-weight: 500; font-size: 10px;">
          Call Support Time : 9 AM to 10PM
        </p>
      </ion-col>
      <ion-col col-12>
        <p style="margin: 0px; color: #fff; font-weight: 500;font-size: 10px;">
          <ion-icon name="mail"></ion-icon>&nbsp;&nbsp;
          sssolution29@gmai.com &nbsp;&nbsp; <ion-icon name="call"></ion-icon>&nbsp;&nbsp;
          +91 9452741841
        </p>
      </ion-col>
    </ion-row>
  </div>
</ion-content> -->

<ion-content id=outer>
  <div class="warning">
    <!-- <div id=inner> -->
    <div class="logo">
      <img src="assets/imgs/icon.png" style="width: initial;">
    </div>
    <form [formGroup]="loginForm">
      <div class="temp">
       <ion-list>
        <ion-item class="logitem">
          <!-- <button ion-button clear>
          <ion-icon name="mail" style="font-size: 1.6em;" color="dark"></ion-icon>
          </button> -->
          <ion-input formControlName="username" type="text" placeholder="{{'Email/Mobile/User Id*' | translate}}">
          </ion-input>
          <button ion-button clear item-start>
            <ion-icon style="font-size: 1.6em;" name="mail" color="dark"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
      </div>
      <ion-item class="logitem1" *ngIf="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)">
        <p>{{'username required!' | translate}}</p>
      </ion-item>
      <div class="temp">
        <ion-list>
        <ion-item class="logitem">
          <button ion-button clear item-start>
            <ion-icon style="font-size: 1.6em;" name="lock" color="dark"></ion-icon>
          </button>

          <ion-input formControlName="password" *ngIf="!showPassword" type="password" placeholder="{{'Password*' | translate}}"></ion-input>
          <ion-input formControlName="password" *ngIf="showPassword" type="text" placeholder="{{'Password*' | translate}}"></ion-input>

          <button ion-button clear item-end (click)="toggleShowPassword()">
            <ion-icon style="font-size: 1.6em;" *ngIf="showPassword" name="eye" color="dark"></ion-icon>
            <ion-icon style="font-size: 1.6em;" *ngIf="!showPassword" name="eye-off" color="dark"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
      </div>
      <ion-item class="logitem1" *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)">
        <p>{{'Password required!' | translate}}</p>
      </ion-item>
    </form>
    <div class="btnDiv">
      <button ion-button class="btnLog" color="gpsc" (tap)="userlogin()">{{'SIGN IN' | translate}}</button>
      <ion-row>
        <ion-col width-50 ion-text color="dark" style="font-size: 1.1em;" (tap)="forgotPassFunc()">{{'Forgot Password' | translate}} ?</ion-col>
        <!-- <ion-col width-50 ion-text color="light" style="font-size: 1.1em;">{{'New user?' | translate}}&nbsp;&nbsp;
          <span style="color:#3197D5;" (tap)="gotosignuppage()">{{'SIGN UP' | translate}}</span>
        </ion-col> -->
      </ion-row>
    </div>
    <!-- <p> Call Support Time: 8AM to 9PM</p> -->
    <!-- <div style="margin-top: 125px;">
      Call Support Time: 8AM to 9PM
    </div> -->
    <ion-footer style="margin-bottom: 10px;">
      <div style="color: white;">
        Call Support Time: 9 AM to 10PM
      </div>

      <div style="font-size: smaller;
      background-color: white;
      padding: 10px;">
        <ion-icon style="font-size: 1.0em;" name="mail" color="dark"></ion-icon>  sssolution29@gmai.com &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <ion-icon style="font-size: 1.0em;" name="call" color="dark"></ion-icon> +91 9452741841
      </div>
    </ion-footer>

    <!-- </div> -->
  </div>
</ion-content>
