<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div style="font-size:15px; text-align: center;">{{'Dashboard' | translate}}</div>
      <div style="font-size:12px; text-align: center;">{{'Welcome' | translate}}, {{islogin.fn}}&nbsp;{{islogin.ln}}!
      </div>
    </ion-title>
   <ion-buttons end>
      <button id="cart-btn" ion-button icon-only (click)="seeNotifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge id="cart-badge">{{cartCount}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
  <progress-bar *ngIf="loadProgress != 100" [progress]="loadProgress"></progress-bar>
</ion-header>

<ion-content overflow-scroll="false">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{'Pull to refresh' | translate}}"
      refreshingSpinner="circles" refreshingText="{{'Refreshing...' | translate}}">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-slides pager style="margin-top: 1%;">
          <ion-slide>

            <div id="chart" class="chart" style="margin-bottom: 5%;">
              <div class="text1" #text1></div>
              <canvas #doughnutCanvas height="200" width="200"></canvas>

            </div>

          </ion-slide>
          <ion-slide>

            <div padding>
              <canvas #barCanvas height="300" width="300"></canvas>
            </div>
          </ion-slide>
          <ion-slide>
            <div padding style="margin-bottom: 5%;">
              <canvas #doughnutCanvas1 height="200" width="200"></canvas>
            </div>
          </ion-slide>
          <ion-slide>
            <div>
              <ion-item style="border-radius: 15px;" no-lines>
                <ion-label>{{ 'Reminders' | translate }}</ion-label>
                <ion-select [(ngModel)]="reminers" (ionChange)="onReminersChange(reminers)">
                  <ion-option value="lastSeven" selected="true">{{ 'Last 7 days' | translate }}</ion-option>
                  <ion-option value="lastFifteen">{{ 'Last 15 days' | translate }}</ion-option>
                  <ion-option value="lastThirty">{{ 'Last 30 days' | translate }}</ion-option>
                </ion-select>
              </ion-item>
              <ion-list>
                <ion-item *ngFor="let item of remindersData" style="background: transparent;">
                  <ion-row>
                    <ion-col>
                      <p style="margin: 0px;font-size: 0.7em; padding: 2px 12px 5px 12px;">
                        <ion-icon color="gpsc" name="clock"></ion-icon>&nbsp;&nbsp;
                        {{item.reminder_type}} pending for vehicle {{item.device ? item.device.Device_Name : 'unknown'}}
                        on
                        {{item.reminder_date | date:'mediumDate'}} {{item.reminder_date | date:'shortTime'}}
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-item>
              </ion-list>

              <!-- <ion-list no-lines>
          <ion-item style="background: transparent;" *ngFor="let item of remindersData">
            <p style="margin: 0px">
              <ion-icon color="gpsc" name="clock"></ion-icon>&nbsp;&nbsp;
              {{item.reminder_type}} pending for vehicle {{item.device.Device_Name}} on {{item.reminder_date | date:'mediumDate'}} {{item.reminder_date | date:'shortTime'}}

            </p>
          </ion-item>
        </ion-list> -->
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row>
    <ion-col col-2 style="margin:auto" (tap)="details('RUNNING')">
      <!-- <ion-avatar>
        <img src="assets/imgs/car.png">
      </ion-avatar> -->
      <div style="background-color: green; border-radius: 50%; height: auto;
        text-align: center;
      width: auto;">
        <ion-icon name="car" style="font-size: 4.2em;
        text-align: center;
        color: white;"></ion-icon>
      </div>
      <div style="text-align: center;">
        <p>{{Running}}</p>
        <p>{{'Running' | translate}}</p>
      </div>

    </ion-col>
    <ion-col col-2 style="" (tap)="details('IDLING')">
      <div style="background-color: orange; border-radius: 50%; height: auto;
      width: auto;
      text-align: center;">
        <ion-icon name="car" style="font-size: 4.2em;
        text-align: center;
        color: white;"></ion-icon>
      </div>
      <div style="text-align: center;">
        <p>{{IDLING}}</p>
        <p no-padding>{{'Idle' | translate }}</p>
      </div>
    </ion-col>

    <ion-col col-2 style="margin-left: auto;" (tap)="details('STOPPED')">
      <div style="background-color: red; border-radius: 50%; height: auto;
      width: auto;
      text-align: center;">
        <ion-icon name="car" style="font-size: 4.2em;
        text-align: center;
        color: white;"></ion-icon>
      </div>
      <div style="text-align: center;">
        <p>{{Stopped}}</p>
        <p no-padding>{{'Stop' | translate }}</p>
      </div>
    </ion-col>

    <ion-col col-2 style="margin-left: auto;" (tap)="details('OUT OF REACH')">
      <div style="background-color: skyblue; border-radius: 50%; height: auto;
      width: auto;
      text-align: center;">
        <ion-icon name="car" style="font-size: 4.2em;
        text-align: center;
        color: white;"></ion-icon>
      </div>
      <div style="text-align: center;">
        <p>{{OutOffReach}}</p>
        <p no-padding>{{'Inactive' | translate}}</p>
      </div>
    </ion-col>

    <ion-col col-2 style="margin:auto" (tap)="details('NO DATA')">
      <div style="background-color: grey; border-radius: 50%; height: auto;
      text-align: center;
      width: auto;">
        <ion-icon name="car" style="font-size: 4.2em;
        text-align: center;
        color: white;"></ion-icon>
      </div>
       <div style="text-align: center;">
        <p>{{nodata}}</p>
        <p no-padding>{{'No Data' | translate}}</p>
      </div>
    </ion-col>
  </ion-row>


  <!-- <div>
    <div style="position: absolute;
    background: #ccc;
    padding: 3px;
    width: 30%;
    border-radius: 10%;
    border: aliceblue;
    margin-top: 7%;">

    </div>
    <ion-avatar>
      <ion-buttons style="margin-left: 30%;">
        <button id="cart-btn" ion-button icon-only (click)="seeNotifications()">
          <ion-icon name="notifications"></ion-icon>
          <ion-badge id="cart-badge">{{cartCount}}</ion-badge>
        </button>
      </ion-buttons>
     </ion-avatar>
  </div> -->
  <!-- <ion-row style="padding-left: 15px; padding-right: 15px;">
    <ion-col width-50 (tap)="live()" style="border-right: 1px solid #00447F; border-bottom: 1px solid #00447F;">
      <div class="divS">
        <ion-icon class="iconS" name="pin" color="gpsc"></ion-icon>
        <br /> {{'LIVE TRACKING' | translate}}
      </div>
    </ion-col>

    <ion-col width-50 (tap)="vehiclelist()" style="border-bottom: 1px solid #00447F">
      <div class="divS">
        <ion-icon class="iconS" name="car" color="gpsc"></ion-icon>

        <br /> {{'VEHICLES' | translate}}
      </div>
    </ion-col>
  </ion-row>

  <ion-row style="padding-left: 15px; padding-right: 15px;">
    <ion-col width-50 (tap)="historyDevice()" style="border-right: 1px solid #00447F;">

      <div class="divS">

        <ion-icon class="iconS" name="time" color="gpsc"></ion-icon>
        <br /> {{'History' | translate}}
      </div>
    </ion-col>
    <ion-col width-50 (tap)="geofence()" class="colStyl">
      <div class="divS">

        <ion-icon class="iconS" name="disc" color="gpsc"></ion-icon>
        <br /> {{'GEOFENCE' | translate}}
      </div>
    </ion-col>
  </ion-row> -->


</ion-content>
