<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"Maintenance Reminder" | translate}}</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="onAddReminder()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

  <ion-list no-padding style="margin: 0px;">
    <ion-item style="background-color: #fafafa;" *ngIf="!isParamData">
      <ion-label style="margin-top: 15px;">{{'Select Vehicle' | translate}}</ion-label>
      <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
        itemTextField="Device_Name" [canSearch]="true" (onChange)="onChangeVehicle(selectedVehicle)">
      </select-searchable>
    </ion-item>
    <ion-item style="background-color: #fafafa;">
      <ion-label style="margin-top: 15px;">{{"Reminder Type" | translate}}</ion-label>
      <ion-select style="font-size: 12px;" [(ngModel)]="reminderType" (ionChange)="onSeletChange(reminderType)">
        <ion-option *ngFor="let rem of reminderTypes" [value]="rem.value">{{rem.viewValue}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-row style="background-color: #fafafa;" padding-left padding-right>
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{'From Date' | translate}}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeStart"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{'To Date' | translate}}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;">
        </ion-datetime>
      </ion-label>
    </ion-col>
    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getReminders();"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <div *ngIf="remData.length > 0">
    <ion-row *ngFor="let item of remData" style="padding: 10px;">
      <ion-col col-2 style="padding-top: 16px;">
        <ion-row>
          <ion-col col-12 text-center style="font-size: 1.1em; letter-spacing: 1.5px; color: gray; font-weight: 500;">
            {{item.datFormats.day | uppercase}}</ion-col>
          <ion-col col-12 text-center style="font-size: 2.3em;">{{item.datFormats.dateNum}}</ion-col>
          <ion-col col-12 text-center style="font-size: 0.8em; color: gray; font-weight: 200;">
            {{item.datFormats.month}}, {{item.datFormats.year}}</ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-10 style="background-image: linear-gradient(to right top, #89be4c, #9ec963, #b2d57a, #c5e091, #d7eca8); color: white;border-radius: 7px;">
        <ion-row style="padding: 10px;">
          <ion-col col-1>
            <ion-icon name="car"></ion-icon>
          </ion-col>
          <ion-col col-5>{{item.vehiclName}}</ion-col>
          <ion-col col-6 text-right style="font-size: 1em;">{{item.reminderType}}</ion-col>
        </ion-row>
        <ion-row style="padding: 10px;">
          <ion-col col-8>
            <ion-row>
              <ion-col col-5 style="font-size: 1.3em;">{{item.datFormats.time}}</ion-col>
          
              <ion-col col-2 *ngIf="item.notifType.SMS">
                <img style="width: 20px;" src="assets/imgs/reminder/sms-of-surveillance-system.png" /></ion-col>
              <ion-col col-2 *ngIf="item.notifType.EMAIL">
                <img style="width: 20px;" src="assets/imgs/reminder/envelope.png" /></ion-col>
              <ion-col col-2 *ngIf="item.notifType.PUSH_NOTIFICATION">
                <img style="width: 20px;" src="assets/imgs/reminder/mobile.png" /></ion-col>
             
            </ion-row>
          </ion-col>
          <ion-col col-4 text-right>
            <img style="width: 40px;" *ngIf="item.reminderType == 'oil_change'" src="assets/imgs/reminder/oil.png" />
            <img style="width: 40px;" *ngIf="item.reminderType == 'Maintenance'"
              src="assets/imgs/reminder/maintenance.png" />
            <img style="width: 40px;" *ngIf="item.reminderType == 'Tyres'" src="assets/imgs/reminder/racing.png" />
            <img style="width: 40px;" *ngIf="item.reminderType == 'Service'"
              src="assets/imgs/reminder/car-service.png" />
            <img style="width: 40px;" *ngIf="item.reminderType == 'Others'" src="assets/imgs/reminder/any-bleach.png" />
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    
  </div>

</ion-content>
<ion-fab right bottom>
  <button ion-fab color="gpsc" (click)="onAddReminder()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>