<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Bookings</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="createBooking()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of bookingsData" (click)="showBooking(item)">
      <ion-avatar item-start>
        <img src="assets/imgs/dummy-user-img.png">
      </ion-avatar>
      <h2>{{item.customer_id.customer_full_name}}</h2>
      <p>
        <ion-icon name="car"></ion-icon>&nbsp;&nbsp;Vehicle No &mdash; {{item.device.Device_Name}}
      </p>
      <p>
        <ion-icon name="calendar"></ion-icon>&nbsp;&nbsp;Date of booking &mdash; {{item.Booking_date | date:'medium'}}
      </p>
      <ion-badge item-end color="gpsc">Status</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>